@model Scheduling_Demo.Models.AppointmentsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="alert-info">Missed Visits</h2>

<div>

    <hr />

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {

        if (Model.appointments.Count > 0)
        {
            <table class="table" style="align-content:center">

                <tr>
                    <th>
                        @Html.LabelFor(m => Model.appointments.FirstOrDefault().Facility)
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.appointments.FirstOrDefault().MRNumber)
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.appointments.FirstOrDefault().GroupTopic)
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.appointments.FirstOrDefault().GroupDate)
                    </th>
                    <th>
                        @Html.LabelFor(m => Model.appointments.FirstOrDefault().LOC)
                    </th>
                </tr>
                @for (int t = 0; t < Model.appointments.Count; t++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => Model.appointments[t].Facility)
                            @Html.HiddenFor(x => Model.appointments[t].Facility)
                        </td>
                        <td>
                            @Html.DisplayFor(x => Model.appointments[t].MRNumber)
                            @Html.HiddenFor(x => Model.appointments[t].MRNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(x => Model.appointments[t].GroupTopic)
                            @Html.HiddenFor(x => Model.appointments[t].GroupTopic)
                        </td>
                        <td>
                            @Html.DisplayFor(x => Model.appointments[t].GroupDate)
                            @Html.HiddenFor(x => Model.appointments[t].GroupDate)
                        </td>
                        <td>
                            @Html.DisplayFor(x => Model.appointments[t].LOC)
                            @Html.HiddenFor(x => Model.appointments[t].LOC)
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <h3 align="center" class="alert-danger">Nothing Found</h3>
        }
    }

    <br />
    <div>
        @Html.ActionLink("Back to Look Up Page", "MissedVisit")
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
